### Création d'une classe pour faire du machine learning

# Consigne

Le minimum de votre class AutoML  :

-prétraitement

   reduction de la taille de votre dataset (float64 => float32, object => category etc.)
   
   - sur les variables catégoriques :
   
        - gestion des nan
        
        - label encoder
        
    - sur les variables numériques:
    
         - gestion des nan
         
        - normalisation
        
prediction : 

    - détecter automatiquement si c'est un problème de classification ou de régression
    
    - en fonction, utiliser les algos appropriés 
    
    -  ressortir les performances du modèle
    
get_ypred('test.csv') : 

     return ypred
     

save_ypred('test.csv') => sauvegarde le fichier de prediction prêt à être soumis sur kaggle

auto_data = AutoML('data.csv', y = 'price')

auto_data.X #retourne un X qui a été prétraité

auto_data.y   # retourne le y

auto_data.predict()

auto_data.get_ypred('test.csv')

save_ypred.get_ypred('test.csv')

In [1]:
# Import des librairies 

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
# Chargement des données train 

train = pd.read_csv(r"C:\Users\lesli\Documents\Simplon\Ecouen\Exercices\Programmation_Orientee_objet\train.csv")
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# Dimensions du train 

train.shape

(1460, 81)

In [3]:
# Chargement des données test

test = pd.read_csv(r"C:\Users\lesli\Documents\Simplon\Ecouen\Exercices\Programmation_Orientee_objet\test.csv")
test.head()
#test.shape

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
# Dimension test

test.shape

(1459, 80)

In [17]:
# Concaténer les 2 csv

#df = pd.concat([train, test], sort=False)
#df.head()
#df.shape

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

## réduction de la taille de votre dataset (float64 => float32, object => category etc.)

In [6]:
train.info(memory_usage='deep')

# Print a concise summary of a DataFrame.
# This method prints information about a DataFrame 
# including the index dtype and column dtypes, non-null values and memory usage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 3.9 MB

In [7]:
for dtype in ['float','int','object']:
    selected_dtype = train.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 0.01 MB
Average memory usage for int columns: 0.00 MB
Average memory usage for object columns: 0.08 MB

In [25]:
dtypes = train.dtypes

#train.dtypes

In [24]:
print(type(dtypes))

<class 'pandas.core.series.Series'>

auto_data = AutoML('data.csv', y = 'price')

auto_data.X #retourn un X qui a été prétraité

auto_data.y   # retourn le y

auto_data.predict()

auto_data.get_ypred('test.csv')

save_ypred.get_ypred('test.csv')

In [16]:
# Définition de la classe 

class AutoML:
    """
    Classe pour faire du preprocessing et tester des modèles de machine learning
    
    Import des données => read csv
    
    Preprocessing:
    - suppression des NaN (> 20%)
    - remplacement des NaN
    - normalisation 
    
    
    """
    
    def __init__(self, data_filename, target):    
        self.data = pd.read_csv(data_filename)   # load data
        self.data = data_filename
        self.y = self.data[target]               # détermination var dépendante
        self.X = self.data.drop(target, axis =1) # détermination var indépendante(s). Ne pas oublier axis = 1 (col)
        self.scaler = StandardScaler()
    
    def supp_nan (self): 
        # suppression des col contenant que des valeurs uniques et dont le % de NaN > 20%
        for col in self.X.columns:
            if len(np.unique(self.X[col])) == len(self.X): 
                self.X = self.X.drop(col, axis = 1)
            
            elif (self.X[col].isna.sum()* 100)/len(self.X) > 20:
                self.X = self.X.drop(col, axis = 1)
        
        # Remplacer des NaN 
        for col in self.X.columns:
            if col in self.X.select_dtypes(include = [np.number]):
                mean = np.mean(self.X[col])
                self.X[col].fillna(mean, inplace = True)
        
            else:
                self.X[col].fillna(self.X[col].mode, inplace = True)
            
            # for col in self.X.select_dtypes(include = [np.category]): => à tester en lieu et place du else
            # si nécessaire 
        
        ### Def une nouvelle 
        
        # Normalisation
        for col in self.X.columns:
            if col in self.X.select_dtypes(include = [np.number]):
                self.scaler.fit(self.X[col])
                self.scaler.transform(self.X[col])
                    
        
        # Transformation des var catégorielles en var numériques (get dummies) => self.X
        for col in self.X.columns:
            if col in self.X.select_dtypes(include = [np.object]):
                self.X = pd.get_dummies(self.X[col])
        
        # LabelEncoder => y exclusivement car je ne souhaite pas avoir plusieurs cols

In [19]:
df = pd.DataFrame({'age': [5, 10, 3, 4, 12], 'pays': ["Fr", "En", "Fr", "An", "An"], 'Achat': ["Oui", "Non", "Oui", "Oui", "Non"]})
d = AutoML(df,"Achat")
d.y

0    Oui
1    Non
2    Oui
3    Oui
4    Non
Name: Achat, dtype: object